html {
	background-color: rgb(255,255,240);
}

.httpstatus {
	width: 3em;	
}
.truncate {
  width: calc(100% - 9em); /* TODO: need to adjust em value to actual widths */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nossl {
	background-color: grey;
}
.badssl {
	background-color: red;	
}
.wrongssl {
	background-color: orange;	
}
.somessl {
	background-color: yellow;	
}
.goodssl {
	background-color: green;	
}

#foot {
	position: fixed;
	bottom: 0px;
	width: 100%;
	border-width: 1px 0px 0px 0px;
	border-style: solid;
	border-color: black;	
}