html {
	background-color: rgb(255,255,240);
}
.httpstatus {
	width: 3em;	
}

.truncate {
 /*  max-width: calc(100%-9em); /* TODO: need to adjust em value to actual widths */
  white-space: nowrap; 
  overflow: hidden;
  border-width: 1px;
	border-style: solid;
	border-color: red;
   text-overflow: ellipsis; 
}
.truncated {
	background-color: orange;
	width: 50%;
}
.nossl {
	background-color: grey;
}
.badssl {
	background-color: red;	
}
.wrongssl {
	background-color: orange;	
}
.somessl {
	background-color: yellow;	
}
.goodssl {
	background-color: green;	
}

#content {
	position: fixed;
	top: 4em;
	width: 100%;
	max-height: calc(100% - calc(4em + 3em));
	overflow: scroll;
	border-width: 1px;
	border-style: solid;
	border-color: black;
}

#ResTable {
	width: 100%;
	border-width: 2px;
	border-style: solid;
	border-color: orange;
}

thead {
	width: 100%;
	border-width: 2px;
	border-style: solid;
	border-color: black;
}

tbody {
	width: 100%;
	border-width: 2px;
	border-style: solid;
	border-color: blue;
}

td {
	border-width: 2px;
	border-style: solid;
	border-color: yellow;
}

#foot {
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 3em;
	border-width: 1px 0px 0px 0px;
	border-style: solid;
	border-color: black;	
}